body {
  font-size: 18px;
  text-align: center;
  overflow-x: hidden;
  
}


/*Estilos globales*/
.h2back{
  width: 100%;
  text-align: left;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #000;
  background-color: #fff;
  border-bottom:1px solid  #1e00a1;
  padding: 5px 10px;
  font-family: "Patua One", serif;
  font-weight: 500;
}
.icon{
  transform: translateY(2px);
  font-size: 18px;
  margin-right: 5px;
}
.black{
  background-color: #000;
  color: #fff;
}
.white{
  background-color: #fff;
  color: #000;
}
.press{
  border-bottom: 2px solid #05d;
  color: #666;
}
.plate{
  background-color: #eee;
  color: #000;
}
.brb{
  border-bottom:1px solid #000;
}
/*interface*/
.cont_interface {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: #ccc;
  padding: 20px 5px ;
}
.poster{
  width: 100%;
  height: 250px;
  background-color: #ccc;
}
.poster img{
  width: 100%;
  height: 250px;
  object-fit: cover;
  mask-image: linear-gradient(
  #ccc 80%,
  transparent);
}
.cont_footer-padre{
  display: flex;
  padding: 15px;
  justify-content: center;
  width: 100%;
  background-color: #111;
}
.cont_footer-padre p{
  font-size: 15px;
  margin: 0px 30px;
  color: #aaa;
}
/*Inicio*/
.news-child-cont_news{
  display: flex;
  align-items: left;
  text-align: start;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 15px;
}
.news-child-cont_news span{
    font-size: 9px;
    font-weight: 700;
    color: #ddce00;
    margin-left: 10px;
}
.a-news{
  color: #03a;
  margin-left: 6px;
  font-size: 14px;
}
.a-news:hover{
  color: #909;
}
.cont_inicio_padre {
  width:50.5%; /*agrandar después*/
  border-radius: 10px;
  margin-right: 15px;
}
.cont_details-child{
  display: flex;
  align-items: end;
  margin-bottom: 10px;
}
.child-news-p{
  color: #888;
}
.cont_details-child p{
  margin-left: 8px;
  color: #888;
  font-size: 15px;
}
.hp-news-child{
  font-size: 15px;
  width: 100%;
  padding: 0px 10px;
  color: #000;
}
.img_icon_news{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.news-child{
  border: 1px solid #fffd;
  border-radius: 10px;
  box-shadow: -3px 6px 5px 1px rgba(0,0,0,0.14);
  -webkit-box-shadow: -3px 6px 5px 1px rgba(0,0,0,0.14);
  -moz-box-shadow: -3px 6px 5px 1px rgba(0,0,0,0.14);
  text-decoration: none;
}
.news-child:hover h3{
  color: #05d;
}

.cont_news-padre{
  background-color: #ccc;
}

.img-news-child{
  height: 250px;
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom: 2px solid #68f;
}

/*asideRight*/
.cont-articles-child{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
  text-align: left;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0px 15px;
}
.img_icon_titulares{
  width: 30px; 
  height: 100%;
  margin-right: 10px;
  border-radius: 50%;
}

.articles-child{
  width: 100%;
  color: #000;
  padding: 10px 0px;
  font-size: 12px;
  border-bottom: 1px solid #eee;
}
.titulares-a{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #1e00a1;
}
.titulares-a:hover{
  color: #07f;
}
.cont_asideright-padre{
  display: flex;
  flex-direction: column;
  width: 27%; 
  border-radius: 10px;

}

/*MenuGames*/
.cont_menugames-padre {
  display: flex;
  font-size: 15px;
  height: 80px;
  width: 100%;
  position: relative;
  z-index: 30;
  position: absolute;
  border: 1px solid #000;
}
.deslis{
  position: relative;
  z-index: 70;
  font-size:25px;
  padding: 5px;
  float: inline-end;
  height: 78px;
  outline: none;
  border: 1px solid #444;
}
.deslis:hover{
  cursor: pointer;
  color: #2060ff;
}
.league-child-menugames {
  height: 100%;
}
.cont_menugames-scroll-child{
  display: flex;
  transition:1s;
  position: relative;
  z-index: 20;
  
}

.league-child-menugames select {
  height: 79px;
  text-align: center;
  border: 0;
  position: relative;
  z-index: 50;
  outline: none;
  transform: translateX(-2px);
  font-weight: 700;
}
.cont_games-child-menugames {
  display: flex;
  flex-wrap: wrap;
  width: 100px;
  border-right: 1px solid #666;
  position: relative;
  z-index: 40;
}

.h1-año{
  color: #fff;
}
.img-child-menugames {
  width: 15px;
  height: 15px;
  transform: translateX(10px);
}
b {
  font-size: 13px;
}
.div-child-menugames {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100px;
}
.loser-child-menugames {
  color: #888;
}

/*Header*/
.cont_header_padre {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 90;box-shadow: -12px -4px 15px 9px rgba(0,0,0,0.58);
  -webkit-box-shadow: -12px -4px 15px 9px rgba(0,0,0,0.58);
  -moz-box-shadow: -12px -4px 15px 9px rgba(0,0,0,0.58);  
}

.dark_mode{
  font-size: 30px;
  padding: 5px;
  border-radius: 50%;
}
.dark_mode:hover{
  cursor: pointer;
  background-color: #444;

}
.cont-buscador-padre{
  display: flex;
  padding: 5px 30px;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 90;
}
.moon{
  transform: translateY(3px);
}
.row{
  flex-direction: row !important;
}
.buscador-header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 300px;
  z-index: 60;
}
.cont_header_padre h2:hover{
  cursor: pointer;
}
.bloque-links{
  display: none;
  position: fixed;
  z-index: 190;
  flex-direction: column;
  background-color: #222;
  margin-top: 40px;
  font-size: 18px;
  text-align: start;
}
.bloque-links a{
  color:#fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  padding: 10px 10px;
  border-bottom: 1px solid #07f;
}
.bloque-links a:hover{
  background-color: #000;
}
.cont-child-header:hover .bloque-links{
  display: flex;
}
.cont-child-header{
  display: flex;
  position: relative;
  z-index: 100;
  flex-direction: column;
  padding:10px 20px;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 15px;
}
.no-padding{
  padding: 0;
}
.cont-child-header{
  font-size: 19px;
}
.cont-child-header:hover{
  cursor: pointer;
  background-color: #222;
}

.icon-header{ 
  margin-right: 5px;
}

.p_icon-header:hover{
  cursor: pointer;
}
.input-header_padre {
  display: none;
  z-index: 120;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 17px;
  height: 30px;
  padding: 5px;
  color: #000;
  background-color: #fff;
  outline: none;
  border: 1px solid #222;
  border-right: none;
}

.search-button{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 30px;
  display: none;
  padding: 0px 5px;
  color: #000;
  border: 1px solid #222;
  background-color: #fff;
  border-left: none;
}
.search-button:hover{
  cursor: pointer;
}
.search-button:active{
  border: 2px solid #000;
}
.title-inicio{
  color: #07f;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 600;
  text-decoration: none;
  font-size: 27px;
  text-align: center;
  transform: translateY(3px);
}

/*home*/
.cont_information-child-home{
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #000;
  padding: 10px;
  border-radius: 10px 10px 0px 0px;
}
.cont_secciones-home{
  text-decoration: none;
  font-size: 16px;
  color: #999;
  padding: 0px 20px;
}
.cont_secciones-home p:hover{
  color: #666;
}
.cont_secciones-home p{
  font-weight: 200;
}
.select_home{
  font-size: 15px;
  width: 100px;
  height: 23px;
  border: none;
  outline: none;
  background-color: #fff;
  color: #000;
  margin-right: 50px;
}

.etiquetas-info{
  text-decoration: none;
  color: #000;
}
.etiquetas-info:hover{
  color: #07f;
}
.league_title{
  display: flex;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  align-items: center;
  justify-content: space-between;
  color: #000;
  padding: 5px 5px;
  border-bottom: 1px solid #ddd;
}
.secciones-home{
  display: flex;
  align-items: center;
}

.league_title select{
  transform: translateX(20px);
}
.cont_home_padre{
  width: 78.6%;
  border-radius: 10px;
}
.cont_information-child-home p{
  width: 25%;
  color: #aaa; 
  border-left:1px solid #333;
  border-right:1px solid #333;
  font-weight: 700;
}
.cont_information-child-home p:hover{
  color: #07f;
  cursor: pointer;
}
/*Results-home*/
.cont_teamsresults-padre{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px;
  padding: 10px;
}
.scroll-results{
  height: 650px;
  overflow-y:scroll;
}
.scroll-results::-webkit-scrollbar-thumb{
  background-color: #000;
}
.scroll-results::-webkit-scrollbar-track{
  background-color: #000;
  border-radius: 4px;
}
.calendario-child{
  width: 150px;
  float: left;
  margin: 10px 5px;
}
.cont_teams_results-child{
  display: flex;
  flex-wrap: wrap;
  width: 45%;
  padding: 5px;
  border-bottom: 1px solid #05a;
  margin: 20px;
}
.cont_teams-child{
  width: 80%;
}
.b-results-child{
  font-size: 17px;
  width: 50px;
}
.teams_results-child{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: 50%;
  padding: 10px;
}
.fecha_results-child{
  width: 19%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 100%;
  border-left: 1px solid #05a;
}
.results-p-img{
  display: flex;
  align-items: center;
  width: 50%;
}
.results-p-img p{
  transform: translateX(20px);
  text-align: left;
}
.results-p-img img{
  width:50px;
  height: 50px;
  border-radius: 50%;
}

/*Teams-Home*/
.cont_teams-padre{
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  margin: 10px 20px;
  border: 1px solid #000;
}
.table-teams{
  border-bottom:1px solid #ddd;
}
.info_groups-child-teamsgroup{
  padding: 5px 0px; 
}
/*Groups-Home*/
.cont_teamsgroups-padre {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cont_groups-child-teamsgroups {
  margin: 10px;
  border-radius: 10px;
  padding: 5px;
  width: 45%;
}
.standings-child-cont-groups img {
  display: flex;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.info_groups-child-teamsgroup {
  display: flex;
}
.table-groups {
  display: flex;
  padding: 0;
  margin: 10px 0px;
}
.p-child-table-groups {
  width: 25%;
  display: flex;
  align-items: center;
  font-size: 15px;
}
.p-groupsteams {
  margin-left: 10px;
  text-align: start;
}
.ul-child-table-groups {
  width: 70%;
  margin-left: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  font-weight: 600;
  font-size: 14px;
}
.ul-child-table-groups li{
  width: 13%;
}

/*AsideLeft*/
.cont_asideleft_padre {
  width: 20%;
  margin-right: 15px;
  color: #000;
  font-weight: 700;
}
.h4_leagues-asideleft{
  text-align: left;
  margin: 10px 5px;
  font-weight: 400;
  border-bottom: 1px solid #000;
}
.icon-league{
  margin-left: 20px;
  font-size: 17px;
}
.links_leagues-asideleft{
  display: flex;
  align-items: center;
  color: #05d;
}
.links_leagues-asideleft:hover{
  color: #909;
}
.a-asideleft{
  text-decoration: none;
  color: #fff;
}
.cont_leagues-child-asideleft{
  border-radius: 10px;
  position: sticky;
  top: 64px;
}
.child-asideleft {
  font-size: 13px;
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 0px 5px;
  list-style-type: none;
}
.child-asideleft a {
  text-decoration: none;
  padding: 5px 0px; 
  color: #000;
}
.favorite-teams li{
  color: #03a;
}

.league-child-cont_leagues {
  padding: 10px 0px;
  display: flex;
  justify-content: start;
  align-items: end;
  width: 100%;
}
.teams_favorite-child-asideleft {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.league-child-cont_leagues img {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}
/*Leagues*/
.ul-leagues-child{
  list-style-type: none;
  margin: 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.h3-style-global{
  width: 100%;
  text-align: left;
  color: #000;
  padding: 5px;
}
.ul-leagues-child img{
  margin: 5px;
  width: 40px;
  height:45px;
}
.cont_league_padre{
  width: 70%;
  transform: translateX(50px);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.cont_links-leagues{
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #000;
  border-radius: 10px 10px 0px 0px;
}
.a-child-leagues{
  text-decoration: none;
  font-weight: 600;
  color: #aaa;  
  padding: 10px;
}
.a-child-leagues:hover{
  color: #07f;
}
.li-child-leagues{
  width: 50%;
  height: 60px;
}
.links-child-leagues{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-decoration: none;
  color: #000;
  font-size: 17px;
}

.p-link p:hover{
  color: #07f;
}
.cont_links-info{
  text-align: left;
  text-decoration: none;
}
.a-child-info{
  margin-right: 5px;
  font-size: 13px;
  color: #07f;
}
.p-link{
  color: #000;
  text-decoration: none;
}
/*Estadistica*/

.cont_estadisticas-padre{
  display: flex;
  justify-content: center;
  position:fixed;
  width: 1400px;
  top: 350px;
  background-color: rgba(00,00,00, .6); 
  transform: translate(-300px,-450px);
  height: 113%;
  padding: 20px;
  border: 1px solid #ccc;
  z-index: 90;
}
.element-type{
  color: #000;
  font-weight: 500;
  list-style: none;
  width: 100%;
  font-size: 17px;
}

.estadistica-child{
  display: flex;
  flex-direction: column;
  width: 90%;
  border: 1px  solid  #000;
  position:sticky;
  height: 670px;
  top:680px;
  z-index: 200;
  background-color: #fff;
}
.portada{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border: 1px solid #000;
}
.puntos-child img{
  width: 150px;
  height: 100px;
}
.puntos-child{
  width: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eee;
}
.h3-home{
  border-right:1px solid  #333;
  padding: 0px 10px;
}
.icon-statics{
  text-align: start;
  background-color: #eee;
  font-size: 23px;
  
}
.icon-statics:hover{
  cursor: pointer;
  color: #aaa;
}
.porcentajes{
  display: flex;
  flex-direction: column;
}
.cont_estadistica{
  display: flex;
  flex-wrap:wrap;
  width: 100%;
  height: 100%;
}
.estadistica{
  display: flex;
  list-style: none;
  flex-direction: column;
  width: 50%;
}
.ocultar-cont{
  width: 100%;
}
.li-child-estadistica{
  padding: 1px 0px;
}
.lista-estadisticas{
  list-style: none;
  width: 100%;
  font-size: 17px;
  color: #000;
  font-weight: 500;
}

.top-bloques-estadisticas{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 31%;
  width: 100%;
}
.b-stats{
  flex-direction: row;
  justify-content: space-around;
}
.b-stats b{
  font-size: 50px;
}
.ey{
  color: #000;
}
.components-render{
  width: 100%;
}

/*darkmode*/
@media (prefers-color-scheme: dark) {
      .cont_interface{
        background-color: #111;
      }
      .news-child{
        border: 1px solid #333;
        box-shadow: -2px 6px 12px -3px rgba(0,18,97,0.75);
-webkit-box-shadow: -2px 6px 12px -3px rgba(0,18,97,0.75);
-moz-box-shadow: -2px 6px 12px -3px rgba(0,18,97,0.75);
      }
      .news-child h3{
        color: #fff;
      }
      .a-news{
        color: #909;
      }
      .cont_leagues-child-asideleft{
        background-color: #000;
      }
      .news-child-cont_news{
        background-color: #000;
      }
      .h2back{
        background-color: #000;
        border-bottom: 1px solid #07f;
        color: #fff;
      }
      .cont_inicio_padre,.cont_news-padre{
        background-color: #111;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
      .cont_leagues-child-asideleft a{
        color: #fff;
      }
      img {
        transition: opacity .5s ease-in-out;
      }
      .cont-articles-child{
        background-color: #000;
      }
      .titulares-a{
        color: #07f;
      }
      .articles-child{
        border-bottom: 1px solid #333;
      }
      .white{
        background-color: #000;
      }
      .h3-style-global{
        color: #fff;
      }
      .cont_links-info p{
        color: #999;
      }
      .a-child-leagues{
        color: #aaa;
      }
      .cont_secciones-home{
        color: #fff;
      }
      .h3-home{
        color: #bbb;
      }
      .poster{
        background-color: #111;
      }
      .postre img{
        mask-image: linear-gradient(#ccc 80%,transparent);
      }
      .plate{
        background-color: #111;
        color: #aaa;
        font-weight: 500;
      }
      .cont_groups-child-teamsgroups{
        border-bottom: 1px solid #07f;
      }
      .cont_teams_results-child{
        border-bottom: 1px  solid #07f;
      }
      .dark li{
        color: #000;
      }
      .p-groupsteams{
        color: #fff;
      }
      .yellow{
        color: #ff4;
      }
      .cont_footer-padre{
        background-color: #000;
      }

}
@media screen  and (max-width: 1150px) {
  .cont_asideright-padre{
    display: none;
  }
  .cont_teams-padre{
    margin: 0;
  }
  .cont_league_padre{
    transform: none;
  }
  .cont_links-leagues{
    font-size: 13px;
  }
  .cont_asideleft_padre{
    width: 25%;
  }
  .cont_inicio_padre{
      width: 70%;
  }
  
  .cont_home_padre{
    width: 73.2%;
    font-size: 15px;
  }
}
@media screen and (max-width: 955px){
  .cont_league_padre{
    width: 100%;
  }
  .cont_asideleft_padre{
    display: none;
  }
  .cont_inicio_padre{
    width: 100%;
}
.cont_home_padre{
  width: 100%;
}
.a-child-leagues{
  padding: 0;
}

}
@media screen and (max-width: 600px) {
  .a-child-leagues{
    padding: 0;
    text-align: start;
  }
  .p-child-table-groups{
    font-size: 10px;
  }
  .ul-child-table-groups{
    font-size: 10px;
  }
  .h3-style-global{
    font-size: 18px;
  }
  .ul-leagues-child{
    width: 87%;
  }
  .cont_league_padre{
    flex-wrap: wrap;
  }
  .league_title{
    height: 100%;
    width: 20%;
    align-items: start;
    padding: 0;
    text-align: start;
    border-right: 1px solid #333;
    border-bottom: none;
  }
  .cont_links-leagues{
    height: 100%;
    width: 15%;
    flex-direction: column;
  }
  .cont_select-label{
    display: flex;
    align-items: start;
    flex-direction: column;
  }
  .select_home{
    width: 60px;
    margin: 0;
  }
  .h3-home{
    margin-bottom: 30px;
    border: none;
    
  }
  .cont_secciones-home{
    padding: 0;
    margin: 20px 0px;
    text-align: left;
  }
  .flex-column{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }
  .cont_home_padre{
    width: 100%;
    display: flex;
    padding: 0;
  }
  .secciones-home{
    padding: 0px 5px;
    
  }
  .components-render{
    width: 80%;
  }
}
@media screen and  (max-width: 810px){
  .input-header_padre{
    width: 100px;
    border-radius: 0;
    padding: 0;
    height: 25px;
  }
  .h1-año{
    font-size: 23px;
  }
  .cont_asideleft_padre{
    display: none;
  }
  .cont-buscador-padre{
    width: 300px;
    padding: 0;
  }
  .buscador-header{
    width: 70%;
  }
  .title-inicio{
    font-size: 20px;
    margin: none;
  }
  .search-button{
    display: none;
  }
  .cont_inicio_padre{
    width: 100%;
}
.cont-child-header p{
  font-size: 15px;
}
}
@media screen and  (max-width: 500px) {
  .secciones-home a{
    font-size: 12px;
  }
  .h3-home{
    font-size: 15px;
  }
  .h1-año{
    font-size: 16px;
  }
  .a-child-leagues{
    font-size: 12px;
  }
  .ul_league{
    font-size: 15px;
    text-align: center;
  }
}
@media screen and (max-width: 350px) {
  .input-header_padre{
    width: 100px;
    border-radius: 0;
    padding: 0;
    height: 25px;
  }
  .a-child-leagues{
    font-size: 10px;
  }
  .cont_asideleft_padre{
    display: none;
  }
  .cont-buscador-padre{
    width: 300px;
    padding: 0;
  }
  .buscador-header{
    width: 70%;
  }
  .title-inicio{
    font-size: 20px;
    margin: none;
  }
  .h1-año{
    font-size: 14px;
    text-align: end;
  }
  .secciones-home{
    padding: 0;
    
  }
  .secciones-home a{
    font-size: 9px;
  }
  .search-button{
    display: none;
  }
  .cont_inicio_padre{
    width: 100%;
}
.cont-child-header p{
  font-size: 15px;
}
.league_title{
  border: none;
}
.bloque-links{
  display: flex;
}
.none_px{
  display: none;
}
}
.icon_menu{
  font-size: 15px;
  margin-left: 5px;
  color: #ddd;
}