
body{
  font-size: 18px;
  text-align: center;
}
/*interface*/
.cont_interface{
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  width: 100%;
  height: 90vh;
}

/*Header*/
.cont_header_padre{
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #111;
  padding: 15px;
}

.input-header_padre{
  outline: none;
  border: none;
  width: 500px;
  font-size: 16px;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid #fff;
}

/*asideRigth*/
.cont_asiderigth_padre{
  width: 22%;
  background-color: #222;
  height: 100%;
  margin-left: 15px;
}

/*home*/
.cont_home_padre{
  width: 50%;
  height: 100%;
  background-color: #222;
}

/*AsideLeft*/
.cont_asideleft_padre{
  width: 25%;
  background-color: #222;
  height: 100%;
  margin-right: 15px;
}

.cont_leagues-child-asideleft img{
  width: 20px;
  height: 20px;
}
.cont_leagues-child-asideleft{
  font-size: 15px;
  color: #fff;
}


