body {
  font-size: 18px;
  text-align: center;
}
.black{
  background-color: #000;
  border-radius: 10px;
  padding: 10px;
}
.points{
  color: #ff0;
}
/*interface*/
.cont_interface {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  width: 100%;
  height: 90vh;
}
/*MenuGames*/
.cont_menugames-padre {
  display: flex;
  font-size: 15px;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 90px;
  background-color: #000;
}
.league-child-menugames {
  height: 100%;
}
.league-child-menugames select {
  height: 100%;
  background-color: #000;
  border: none;
}
.cont_games-child-menugames {
  display: flex;
  flex-wrap: wrap;
  width: 100px;
  border-right: 1px solid #666;
}
.img-child-menugames {
  width: 15px;
  height: 15px;
  transform: translateX(10px);
}
b {
  font-size: 13px;
}
.div-child-menugames {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100px;
}
.winner-child-menugames {
  color: #ff0;
}
.loser-child-menugames {
  color: #888;
}

/*Header*/
.cont_header_padre {
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #777;
  padding: 15px;
}

.input-header_padre {
  outline: none;
  border: none;
  width: 500px;
  font-size: 16px;
  padding: 7px;
  border-radius: 5px;
}

/*home*/
.cont_home_padre {
  width: 73.5%;
  background-color: #222;
  border-radius: 10px;
  padding: 10px;
}
/*Results-home*/
.cont_teamsresults-padre{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}
.cont_teams_results-child{
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  width: 30%;
  margin: 10px;
}
.teams_results-child{
  display: flex;
  width: 100%;
  align-items: center;
  padding: 5px;
  
}
.fecha_results-child{
  width: 60px;
  display: flex;
  
  align-items: center;
  transform: translateX(-10px);
}
.results-p-img{
  display: flex;
  align-items: center;
  width: 50%;
}
.results-p-img p{
  transform: translateX(20px);
}
.teams_results-child img{
  width:50px;
  height: 50px;
  border-radius: 50%;
}
.results b{
  width: 50%;
 
  font-size: 18px;
}
/*Teams-Home*/
.cont_teams-padre{
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 20px;
}
.table-teams{
  border-bottom:1px solid #666;
}
/*Groups-Home*/

.cont_teamsgroups-padre {
  display: flex;
  flex-wrap: wrap;
}
.cont_groups-child-teamsgroups {
  background-color: #000;
  margin: 5px;
  border-radius: 10px;
  padding: 10px;
  width: 48.9%;
}

.standings-child-cont-groups img {
  display: flex;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.info_groups-child-teamsgroup {
  display: flex;
}
.table-groups {
  display: flex;
  padding: 0;
  margin: 10px 0px;
}
.p-child-table-groups {
  width: 25%;
  display: flex;
  align-items: center;
  font-size: 15px;
}
.p-groupsteams {
  margin-left: 10px;
}
.b-child-table-groups {
  width: 70%;
  margin-left: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.b-child-table-groups b {
  width: 13%;
}

/*AsideLeft*/
.cont_asideleft_padre {
  padding: 10px;
  width: 25%;
  background-color: #222;
  margin-right: 15px;
  border-radius: 10px;
}
.press {
  background-color: #777;
}
.child-asideleft {
  font-size: 15px;
  color: #fff;
  background-color: #000;
  border-radius: 10px;
  text-align: left;
  padding: 20px;
}
.child-asideleft a {
  margin-top: 10px;
  font-size: 15px;
  text-decoration: none;
  color: #fff;
  padding: 6px 0px;
}
.cont_information-child-asideleft {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.eurocopa {
  margin-top: 10px;
  border-top: 1px solid #666;
  border-bottom: 1px solid #555;
}

.league-child-cont_leagues {
  padding: 10px 0px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.teams_favorite-child-asideleft {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.league-child-cont_leagues img {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}
